@import url(style.css);

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(55, 62, 100, 0.1); /* Koyu Gri */
    padding: 20px;
    border-radius: 15px; /* Yumuşak hatlar için border-radius */
}

.form input[type="text"] {
    width: 300px;
    height: 50px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 10px; /* Yumuşak hatlar için border-radius */
}

.form h1 {
    color:  rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.form input[type="submit"] {
    width: 100px;
    height: 50px;
    transition: transform 0.5s ease, background-color 0.5s ease; /* Gönder butonu için hover efekti */
    border-radius: 10px; /* Yumuşak hatlar için border-radius */
    border: none; /* Kenar çizgisini kaldırma */
}

.form input[type="submit"]:hover {
    transform: scale(1.1); /* Gönder butonu için hover efekti */
    background-color: rgba(55, 62, 100, 0.8); /* Gönder butonunun hover arka plan rengi */
    cursor: pointer; /* Gönder butonuna fare üzerine geldiğinde işaretçi tipini değiştirme */
}


.anasayfa a h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    background-color: rgba(55, 62, 100, 0.8); 
    display: inline;
    position: absolute;
    border-radius: 8px;
    text-align: center;
    width: 140px;
    height: 30px;
    left: 0;
    top: 50px;
}

.anasayfa h2:hover {
    transform: scale(1.1);
}
/* Genel CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.pexels.com/photos/2258536/pexels-photo-2258536.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(52, 60, 103, 0.5);
    text-align: center;
    z-index: 2;
}

.header h1 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 50px;
    cursor: pointer;
}

/* Side Menu */
.side {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: relative;
    top: 70px;
    align-items: center;
    z-index: 1;
}

.side .sol {
    position: fixed;
    background-color: rgba(55, 65, 97, 0.6);
    border-radius: 8px;
    width: 200px;
    height: 490px;
    display: flex;
    left: 10px;
    align-items: center;
    justify-content: center;
    top: 90px;
}

.side .sol a {
    position: relative;
    top: 20px;
    margin-bottom: 75px;
    display: flex;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    width: 180px;
    transition: 0.5s all;
}

.side .sol a:hover {
    background-color: rgba(55, 62, 100, 0.8);
    transform: scale(1.1);
    color: #ffffff;
}

/* Main Content */
.orta {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}

.orta h3 {
    color: #514b83;
    font-size: 30px;
    text-align: center;
}

.orta p {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(56, 62, 101, 0.8);
    color: #ffffff;
    text-align: center;
    height: 30px;
    z-index: 2;
}

/* Responsive Tasarım */
@media screen and (max-width: 768px) {
    /* Header */
    .header h1 {
        font-size: 20px;
        line-height: 40px;
    }

    /* Main Content */
    .orta {
        padding: 10px;
        margin-top: 40px;
    }

    /* Footer */
    footer {
        height: 20px;
    }
}
